@import "tailwindcss";

/*
@layer base: basic style for the page 
*/
@layer base {
  body {
    background-color: #181818;
    color: #fcfbfc;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}

.card {
  @apply p-6 hover:border-1 rounded;
}
